USE [Proj_AC]
GO
/****** Object:  StoredProcedure [dbo].[sp_processarAlteracaoStatusCurso]    Script Date: 14/08/2021 22:36:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[sp_processarAlteracaoStatusCurso] (@CODIGOCURSOSOLICITADO INT, @STATUSSOLICITADO CHAR(1))AS 

DECLARE @CURSOEXISTE INT
DECLARE @STATUSATUAL CHAR(1)
DECLARE @CURSOCOMALUNOSFINALIZADOS INT 
DECLARE @CURSOASSOCIADOALUNO INT
DECLARE @NOME VARCHAR(50)

SET @CURSOEXISTE = (SELECT codCurso FROM curso WHERE codCurso = @CODIGOCURSOSOLICITADO)
SET @STATUSATUAL = (SELECT status FROM curso WHERE codCurso = @CODIGOCURSOSOLICITADO)

SET @CURSOCOMALUNOSFINALIZADOS = (SELECT COUNT(codCurso) FROM curso C WHERE codCurso = 
(SELECT A.codCurso FROM aluno A WHERE A.status = 'T' AND A.codCurso = @CODIGOCURSOSOLICITADO))

SET @CURSOASSOCIADOALUNO = (SELECT codCurso FROM curso C WHERE codCurso = 
(SELECT A.codCurso FROM aluno A WHERE A.codCurso = @CODIGOCURSOSOLICITADO))

SET @NOME = (SELECT nome FROM curso WHERE codCurso = @CODIGOCURSOSOLICITADO)

IF (@CURSOEXISTE = @CODIGOCURSOSOLICITADO)
BEGIN
	IF(@CURSOASSOCIADOALUNO IS NOT NULL)
	BEGIN
	IF(@STATUSSOLICITADO <> 'T' AND @STATUSSOLICITADO <> 'F')
	BEGIN
		PRINT 'O Status solicitado não é reconhecido!'
	END
	ELSE IF (@CURSOCOMALUNOSFINALIZADOS > 0 AND @STATUSATUAL = 'F' AND @STATUSSOLICITADO = 'F')
	BEGIN 
		PRINT 'O Curso ' + @NOME + ' não pode ser desativado, pois o mesmo existe aluno com status ativo!'
	END
	ELSE IF (@CURSOCOMALUNOSFINALIZADOS = 0 AND @STATUSATUAL = 'T' AND @STATUSSOLICITADO = 'F')
	BEGIN 
	UPDATE curso SET status = @STATUSSOLICITADO WHERE codCurso = @CODIGOCURSOSOLICITADO
		PRINT 'Curso ' + @NOME + ' desativado com sucesso!'
	END
	ELSE IF (@CURSOCOMALUNOSFINALIZADOS = 0 AND @STATUSATUAL = 'F' AND @STATUSSOLICITADO = 'F')
	BEGIN 
		PRINT 'O Curso ' + @NOME + ' já está desativado!'
	END
	ELSE IF (@CURSOCOMALUNOSFINALIZADOS > 0 AND @STATUSATUAL = 'T' AND @STATUSSOLICITADO = 'F')
	BEGIN 
		PRINT 'O Curso ' + @NOME + ' não pode ser desativado, pois o mesmo existe aluno com status ativo!'
	END
	ELSE IF (@CURSOCOMALUNOSFINALIZADOS = 0 AND @STATUSATUAL = 'F' AND @STATUSSOLICITADO = 'T')
	BEGIN 
	UPDATE curso SET status = @STATUSSOLICITADO WHERE codCurso = @CODIGOCURSOSOLICITADO
		PRINT 'Curso ' + @NOME + ' ativado com sucesso!'
	END
	ELSE IF (@CURSOCOMALUNOSFINALIZADOS = @CODIGOCURSOSOLICITADO AND @STATUSATUAL = 'T' AND @STATUSSOLICITADO = 'T')
	BEGIN 
		PRINT 'O Curso ' + @NOME + ' já está ativado!'
	END
	ELSE IF (@CURSOCOMALUNOSFINALIZADOS = @CODIGOCURSOSOLICITADO AND @STATUSATUAL = 'F' AND @STATUSSOLICITADO = 'T')
	BEGIN 
	UPDATE curso SET status = @STATUSSOLICITADO WHERE codCurso = @CODIGOCURSOSOLICITADO
		PRINT 'Curso ' + @NOME + ' ativado com sucesso!'
	END
	ELSE IF (@CURSOCOMALUNOSFINALIZADOS IS NOT NULL AND @STATUSATUAL = 'T' AND @STATUSSOLICITADO = 'T')
	BEGIN 
		PRINT 'O Curso ' + @NOME + ' já está ativado!'
	END
	END
	ELSE 
	BEGIN
	IF(@CURSOASSOCIADOALUNO IS NULL)
	BEGIN
	IF(@STATUSSOLICITADO <> 'T' AND @STATUSSOLICITADO <> 'F')
	BEGIN
		PRINT 'O Status solicitado não é reconhecido!'
	END
	END
	IF (@STATUSATUAL = 'F' AND @STATUSSOLICITADO = 'F') 
	BEGIN 
		PRINT 'O Curso ' + @NOME + ' já está desativado!'
	END
	ELSE IF(@STATUSATUAL = 'F' AND @STATUSSOLICITADO = 'T')
	BEGIN 
	UPDATE curso SET status = @STATUSSOLICITADO WHERE codCurso = @CODIGOCURSOSOLICITADO
		PRINT 'Curso ' + @NOME + ' ativado com sucesso!'
	END
	ELSE IF (@STATUSATUAL = 'T' AND @STATUSSOLICITADO = 'F')
	BEGIN
	UPDATE curso SET status = @STATUSSOLICITADO WHERE codCurso = @CODIGOCURSOSOLICITADO
		PRINT 'Curso ' + @NOME + ' desativado com sucesso!'
	END
	ELSE IF(@STATUSATUAL = 'T' AND @STATUSSOLICITADO = 'T')
	BEGIN
		PRINT 'O Curso ' + @NOME + ' já está ativado!'
	END
	END
END
ELSE
BEGIN
	PRINT 'O Curso não existe!'
END
GO
